CompileFlags:
  Add:
    [
      '-Wno-microsoft-enum-forward-reference',
    ]
  CompilationDatabase: build/clang-release

---

If:
  PathMatch: lib/sokol/sokol_gfx.h
CompileFlags:
  Add:
    [
      '-USOKOL_GFX_INCLUDED',
      '-DSOKOL_IMPL',
      '-DSOKOL_D3D11'
    ]

---

If:
  PathMatch: lib/sokol/util/sokol_imgui.h
CompileFlags:
  Add:
    [
      '-USOKOL_IMGUI_INCLUDED',
      '-DSOKOL_IMPL',
      '-DSOKOL_IMGUI_NO_SOKOL_APP',
      '-DSOKOL_D3D11',
      '-DSOKOL_IMGUI_CPREFIX=ImGui_',
      '--include=C:/Users/sadguitarius/src/projects/cplug_test/lib/sokol/sokol_gfx.h',
      '--include=C:/Users/sadguitarius/src/projects/cplug_test/lib/dcimgui/dcimgui.h'
    ]
