[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/CPLUG"]
	path = lib/CPLUG
	url = https://github.com/sadguitarius/CPLUG.git
	branch = windows-scaling
[submodule "lib/whereami"]
	path = lib/whereami
	url = https://github.com/gpakosz/whereami.git
[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/sadguitarius/sokol
	branch = multi-instance
[submodule "lib/dear_bindings"]
	path = lib/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
